:root{
    --black-color: black;
    --white-color: white;
    --white-color: rgba(255, 255, 255, 1);
    --text-color: #333;
    --btn-color: #323ebe;
    --btn-hover-color: blue;
    --btn-sidebar-hover-color: rgb(213, 213, 216);
    --bg-tab-color: rgb(214, 211, 211);
    --bg-color: #eef0f1;
    --stick-color: #b9bdbe;
}
body{
    margin: 0;
    background-color: var(--bg-color);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}
ul{
    list-style-type: none;
}
li{
    margin: 0px 8px;
}