img {
  object-fit: cover;
  object-position: center;
  background-color: white;
}
a {
  text-decoration: none !important;
  color: inherit !important;
}
.header {
  background-color: white;
  width: 100%;
  height: 4rem;
  text-align: center;
  box-shadow: 5px 0 5px black;
  position: relative;
  background-image: url(../../assets/img/headerBG.jpg);
  z-index: 10;
}

.greeting {
  color: #9b9494;
  border-right: solid 2px #dee2e4;
  border-left: solid 2px #dee2e4;
}

.navLeft .navLeftHome img {
  width: 50px;
  height: 50px;
  position: relative;
  top: 7px;
}
.navLeft img {
  position: relative;
  left: 3px;
  width: 16px;
  height: 16px;
}

.navLeftTrending:hover,
.navLeftAbout:hover {
  border-bottom: solid 3px black;
}

.navSearch {
  display: flex;
  width: 300px;
  justify-content: flex-end;
}
.navSearchHeader {
  order: 1;
  cursor: pointer;
  margin-left: 5px;
  user-select: none;
}
/* display search content */
.navSearchContent {
  display: none;
  flex-grow: 1;
  justify-content: flex-end;
}
.searchForm {
  width: 0%;
  transition: width 0.8s;
}
.navSearchInput {
  height: 1.5em;
  padding: 10px 5px;
  border: solid 2px gray;
  border-radius: 5px;
  width: 100%;
}
.navSearchInput:focus {
  outline-style: none;
  border: solid 2px #363636;
}

.navMenuHeader.ext {
  color: #64a7ff;
  padding-bottom: 20px;
  background-color: red;
}
.navMenuContent {
  position: absolute;
  top: 60px;
  right: 0px;
  background-color: white;
  box-shadow: 0 0 5px gray;
  border: solid 1px gray;
  border-top: none;
  border-radius: 15px;
  display: none;
  padding: 10px;
  min-width: 200px;
}
.navMenuOptions {
  text-align: right;
}
.navMenuOptions > span + div {
  margin-top: 10px;
}
.optionHeader {
  border-radius: 10px;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.optionHeader:hover {
  background-color: #cccccc;
}
.optionHeaderImgWrapper {
  border: solid 3px #64a7ff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 5px;
  margin-right: 20px;
}
.optionHeaderImg {
  height: 100px;
  width: 100px;
  z-index: -1;
}

.navMenuOptions .options {
  cursor: pointer;
  padding: 10px 10px;
  margin: 0 10px;
  border-radius: 10px;
}
.navMenuOptions .options:hover {
  background-color: #cccccc;
}
.navMenuOptions .options a {
  text-decoration: none;
  color: black;
}
.line {
  display: block;
  margin: 0 auto;
  padding-top: 10px;
  width: 80%;
  border-bottom: solid 1px gray;
}
/*unlogin nav menu option*/

/*icon*/
.icon {
  display: inline-block;
  font-style: normal;
  font-family: icon;
}
.icon-search::before {
  content: "\e986";
  font-size: 20px;
}
.searchOn .icon-search {
  color: #64a7ff;
}
.icon-menu::before {
  content: "\e9bd";
  font-size: 20px;
}
@font-face {
  font-family: icon;
  src: url("../../icomoon-v1.0/fonts/icomoon.ttf") format("truetype");
}
