.ad-banner {
  width: 100%;
  height: 100px;
  z-index: 0;
  overflow: hidden;
}
/* .main{
    width: 100%;
    margin-top: 100px;
} */
/* .main-container{
    margin: 8px 150px;
} */
.trending-bar {
  background-color: rgb(214, 211, 211);
}

aside {
  font-size: 13;
  line-height: 18px;
  margin: 16px 16px 8px 16px;
}
.postgalle-container {
  padding: 16px;
  display: flex;
  flex-direction: row;
}

.article {
  box-shadow: 0px 2px 1px 2px var(--stick-color);
  border-top: 3px solid black;
  background-color: white;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  flex-direction: row;
  padding: 5px;
  padding-top: 0px;
}

.article:hover {
  border: 0px 6px 6px 6px var(--white-color);
  border-top: 3px solid black;
  box-shadow: 0px 3px 1px 3px rgb(184, 183, 183);
}

.article img {
  object-fit: cover;
  object-position: center;
}
.cover-img {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0)
  );
}

.story {
  padding: 16px 0px;
  border-bottom: 1px solid var(--stick-color);
  display: flex;
  flex-direction: row;
}
.story-last {
  padding: 16px 0px;
  display: flex;
  flex-direction: row;
}
.type-post {
  color: #666;
}
.author {
  color: #666;
  border-radius: 5px;
}
.author:hover {
  background-color: rgb(81, 187, 164);
  color: white;
}

#load-more {
  width: 150px;
  padding: 8px;
  margin: 6px 16px 16px 0px;
  display: flex;
  justify-content: center;
  text-align: center;
  box-shadow: 0px 2px 1px 2px var(--stick-color);
  background-color: white;
  cursor: pointer;
  transition: 0.3s;
}
#load-more:hover {
  margin-top: 0px;
  margin-bottom: 22px;
  border: 0px 6px 6px 6px var(--white-color);
  box-shadow: 0px 3px 1px 3px rgb(184, 183, 183);
}
