*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}
html{
    font-family: sans-serif;
}
body{
    margin: 0;
    background-color: #EEF0F1;
}


.container{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    grid-template-rows: 100px auto 200px;
}
.loginForm{
    padding: 20px 30px;
    background-color: white;
    grid-column: 2/3;
    grid-row: 2/3;
    min-height: 300px;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
}
.loginForm > h1{
    cursor: default;
    width: 100%;
    text-align: center;
}
.loginBtn{
    margin-top: 2em;
    width: 100%;
    padding:20px 20px;
    font-size: 15px;
    font-weight: bolder;
    color: white;
    background-color:rgba(0, 0, 205,0.7);
    cursor: pointer;
    border: none;
}
.loginBtn:hover{
    background-color: rgb(0, 0, 205);
}
.inputLogin{
    position: relative;
    margin-top: 2em;
    padding: 20px 10px;
}
.inputLogin > input{
    line-height: 2em;
    width: 100%;
    border-bottom: solid 1px gray;
    border-top:none;
    border-left:none;
    border-right:none;
}
.inputLogin >label{
    color: gray;
    position: absolute;
    left:5%;
    top:35%;
    z-index: 1;
    cursor: text;
    transition: all 0.3s;
}
.inputLogin > input:focus + label,.inputLogin >.filled + label{
    color:initial;
    left:3%;
    top:0%;
    font-size: 14px;
}
.extended{
    padding: 20px 20px 10px;
    display: flex;
    justify-content: space-between;
}
.signup{
    color:black;
    font-weight: bold;
}
.forgetpassword{
    color:gray;
    text-decoration-line: none;
    font-size: 14px;
}
.errorHandle{
    display: none;
    position: relative;
    width: 100%;
    color: red;
    font-style: italic;
    text-align: right;
    bottom: 0;
}



