* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main-content {
  width: 100%;
  margin-top: 100px;
}
.rank-container {
  margin: 0px 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.col-base {
  box-shadow: 0px 2px 1px 2px var(--stick-color);
  border-top: 3px solid black;
  background-color: white;
  cursor: pointer;
  transition: 0.3s;
  min-height: 500px;
}
.col-base:hover {
  border: 0px 6px 6px 6px var(--white-color);
  border-top: 5px solid cadetblue;
  box-shadow: 0px 3px 1px 3px rgb(184, 183, 183);
}
.col-base:hover {
  margin-top: 0px;
  margin-bottom: 22px;
  border: 0px 6px 6px 6px var(--white-color);
  border-top: 5px solid rgb(185, 176, 176);
  box-shadow: 0px 3px 1px 3px rgb(184, 183, 183);
}
.col-base {
  border-top: 5px solid cadetblue;
}
.tittle,
.tittle1,
.tittle2 {
  padding: 16px;
  border-bottom: 1px solid rgb(133, 130, 130);
}
.tittle {
  color: rgb(66, 122, 124);
}
.tittle1 {
  color: rgb(148, 134, 134);
}
.tittle2 {
  color: rgb(189, 115, 115);
}
.table-order {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.order-number,
.order-number1,
.order-number2 {
  width: 30%;
  padding: 16px;
  text-align: center;
  font-size: 42px;
  font-weight: 700;
}
.order-number {
  color: cadetblue;
}
.order-number1 {
  color: rgb(185, 176, 176);
}
.order-number2 {
  color: rgb(230, 142, 142);
}
.order-content {
  width: 70%;
  padding: 16px;
  line-height: 1.4rem;
}
.order-name {
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: black;
}
.order-detail {
  font-size: 14px;
  text-decoration: none;
  color: black;
}
.order-date {
  font-size: 12px;
  text-decoration: none;
  color: black;
}
